<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Hello, wolrd</title>
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://telegram.org/js/telegram-web-app.js?56"></script>
</head>
<body>
  <div style="margin-top: 30px;">
    <div class="token"></div>
  </div>

  <script>
    const container = document.querySelector(".token")
    container.textContent = window.Telegram.WebApp.initData
  </script>
</body>
</html>