<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Connection test</title>
</head>
<body>
  <input type="text" placeholder="x-telegram-auth">
  <a>socket</a>

  <script>
      const protocol = window.location.protocol === 'https:' ? 'wss:' : 'ws:';
      const wsUrl = `${protocol}//${window.location.host}`;

      const button = document.querySelector("a")
      const input = document.querySelector("input")

      button.addEventListener("click", () => {
        const socket = new WebSocket(`${wsUrl}/connect_user?token=${encodeURIComponent(input.value)}`);

        socket.onopen = event => {
            socket.send(JSON.stringify({
            "event": "NEW_USER_IN_PLACE",
            "data": {
                "name": "Рамиль",
                "surname": "Галиев",
                "competition": "Искусственный интеллект"
            }
          }))
        }
      })
  </script>
</body>
</html>